POSTGRES_PASSWORD=Admin123
POSTGRES_USER=admin
POSTGRES_DB=weather
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://postgres:${POSTGRES_USER}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
ML_SERVICE_URL=http://localhost:8001