fastapi[standard]
psycopg[binary]
geopy
python-dotenv
httpx
geopy
pytest
pytest-asyncio
aiohttp
alembic
once-py
python-dotenv
SQLAlchemy
pandas
numpy
scikit-learn
xgboost
optuna
statsmodels


black
isort
