fastapi[standard]
psycopg[binary]
geopy
python-dotenv
httpx
geopy
pytest
pytest-asyncio
aiohttp
alembic
once-py
python-dotenv
pandas
numpy
xgboost
scikit-learn
statsmodels

black
isort


# for ipynb
# pandas
# numpy
# scikit-learn
# xgboost