fastapi[standard]
psycopg[binary]
geopy
python-dotenv
httpx
joblib
geopy
pytest
pytest-asyncio
aiohttp
alembic
pydantic
pydantic-settings
apscheduler
once-py
python-dotenv
SQLAlchemy
pandas
numpy
scikit-learn
xgboost
optuna
statsmodels



black
isort
